{% extends 'includes/_baseClient.html' %}
{% load static %}
{% block title %}Acceuil | Chillclean-Cleaning-Services{% endblock title %}
{% block content %}
	
	
{% include 'includes/_banner_up.html' %}

{% include 'includes/_about.html' %}

{% include 'includes/_services.html' %}

{% include 'includes/_question_sec.html' %}


        {% include 'includes/_team.html' %}


        {% include 'includes/_Counter_Section.html' %}

	
        {% include 'includes/_projrts.html' %}

        {% include 'includes/_testimonial.html' %}

        {% include 'includes/_blog.html' %}

{% endblock content %}
