{% extends 'includes/_baseClient.html' %}
{% load static %}
{% block title %}Shop | Chillclean-Cleaning-Services{% endblock title %}
{% block content %}
<section class="inner-intro bg-img light-color overlay-before parallax-background">
    <div class="container">
        <div class="row title">
            <div class="title_row">
                <h1 data-title="Shop"><span>Shop</span></h1>
                <div class="page-breadcrumb">
                    <a>Home</a>/ <span>Shop</span>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- End Intro Section -->

<section class="page-section padding ptb-xs-40">
    <div class="container shop grid-3">
        <div class="row">
            <div class="col-sm-12 col-lg-9 text-center respon-flon pull-right">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/1.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/1.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$99</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">
                                    50% off*
                                </div>
                            </div>
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/2.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/2.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color"><del>$98</del>$49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/3.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/3.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$29</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/4.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/4.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$19</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">
                                    50% off*
                                </div>
                            </div>
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/5.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/5.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color"><del>$99</del>$49.5</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/6.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/6.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$599.99</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/7.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/7.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$14.59</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">
                                    50% off*
                                </div>
                            </div>
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/8.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/8.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color"><del>$25</del>$12.49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/9.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/9.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$39.49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/10.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/10.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$15.99</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">
                                    50% off*
                                </div>
                            </div>
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/11.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/11.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color"><del>$18.9</del>9.49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="{% static 'assets-chillclean/images/shop/12.jpg' %} " alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="{% static 'assets-chillclean/images/shop/12.jpg' %} " data-rel="prettyPhoto[portfolio]"> <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Finance Book</h4>
                                <h5 class="text-color">$19</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                </div>
            </div>
            <div class="sidebar_shop col-sm-12 col-lg-3">
                <div class="widget_shop">
                    <div class="widget_shop-title">
                        <h3 class="title">Price Filter</h3>
                    </div>
                    <div class="filter-price-box">
                        <!-- Filter Inner -->
                        <div class="nstSlider range" data-range_min="0" data-range_max="300" data-cur_min="0" data-cur_max="150">
                            <!-- Bar -->
                            <div class="bar"></div>
                            <!-- Min Price Drager -->
                            <div class="leftGrip">
                                <span class="drag"> <span class="doller">$</span> <span class="leftLabel"></span> </span>
                            </div>
                            <!-- Max Price Drager -->
                            <div class="rightGrip">
                                <span class="drag"> <span class="doller">$</span> <span class="rightLabel"></span> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget_shop">
                    <div class="widget_shop-title">
                        <h3 class="title">Filter By Category</h3>
                    </div>
                    <div id="MainMenu2">
                        <div class="list-group panel">
                            <div id="demo3">
                                <a href="#category1" class="list-group-item" data-toggle="collapse" data-parent="#1">Surface Cleaner <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="category1">
                                    <a href="#" class="list-group-item" data-parent="#1">Cleaner</a>
                                    <a href="#" class="list-group-item" data-parent="#1">Cleaner</a>
                                </div>
                                <a href="#category2" class="list-group-item" data-toggle="collapse" data-parent="#2">Floor Cleaner <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="category2">
                                    <a href="#" class="list-group-item" data-parent="#SubMenu2">Cleaner</a>
                                    <a href="#" class="list-group-item" data-parent="#SubMenu2">Cleaner</a>
                                </div>
                                <a href="#category3" class="list-group-item" data-toggle="collapse" data-parent="#3">Bathroom Cleaner <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="category3">
                                    <a href="#" class="list-group-item" data-parent="#3">Cleaner</a>
                                    <a href="#" class="list-group-item" data-parent="#3">Cleaner</a>
                                </div>
                                <a href="#category4" class="list-group-item" data-toggle="collapse" data-parent="#4">Kitchen Cleanner <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="category4">
                                    <a href="#" class="list-group-item" data-parent="#4">Cleanner</a>
                                    <a href="#" class="list-group-item" data-parent="#4">Cleanner</a>
                                </div>
                                <a href="#category5" class="list-group-item" data-toggle="collapse" data-parent="#5">Office Cleanner <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="category5">
                                    <a href="#" class="list-group-item" data-parent="#5">Cleanner</a>
                                    <a href="#" class="list-group-item" data-parent="#5">Cleanner</a>
                                    <a href="#" class="list-group-item" data-parent="#5"> Cleanner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- category-list -->
                </div>
                <div class="widget_shop">
                    <div class="widget_shop-title">
                        <h3 class="title">Top Rated Products</h3>
                    </div>
                    <ul class="latest-posts clearfix shop">
                        <li class="d-flex">
                            <div class="post-thumb">
                                <img class="img-rounded" src="{% static 'assets-chillclean/images/shop/1.jpg' %} " alt="" title="" width="84" height="84" />
                            </div>
                            <div class="post-details">
                                <div class="description">
                                    <a href="#"> <!-- Text --> <h5>Multipurpose Colorful Glove</h5> </a>
                                </div>
                                <div class="price">
                                    <del>$98</del> $49
                                </div>
                                <div class="star-rating">
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star-half-o text-color"></i>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="post-thumb">
                                <img class="img-rounded" src="{% static 'assets-chillclean/images/shop/2.jpg' %} " alt="" title="" width="84" height="84" />
                            </div>
                            <div class="post-details">
                                <div class="description">
                                    <a href="#"> <!-- Text --> <h5>Multipurpose Colorful Glove</h5> </a>
                                </div>
                                <div class="price">
                                    <del>$28</del> $12
                                </div>
                                <div class="star-rating">
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star-half-o text-color"></i>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="post-thumb">
                                <img class="img-rounded" src="{% static 'assets-chillclean/images/shop/3.jpg' %} " alt="" title="" width="84" height="84" />
                            </div>
                            <div class="post-details">
                                <div class="description">
                                    <a href="#"> <!-- Text --> <h5>Multipurpose Colorful Glove</h5> </a>
                                </div>
                                <div class="price">
                                    <del>$58</del> $25
                                </div>
                                <div class="star-rating">
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star text-color"></i>
                                    <i class="fa fa-star-half-o text-color"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget_shop">
                    <div class="widget_shop-title">
                        <h3 class="title">Community Poll</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">less than 18 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">18-24 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">24-30 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">30-40 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">More than 40 years</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget_shop">
                    <div class="widget_shop-title">
                        <h3 class="title">Recommended</h3>
                    </div>
                    <div class="owl-carousel nf-carousel-theme" data-pagination="false" data-items="1"  data-loop="true" data-margin="0" data-center="true" data-navigation="true" data-desktop="1" data-desktopsmall="1" data-tablet="1" data-mobile="1" data-autoplay="false" data-autotime="5000" data-autoplayHoverPause="true" data-prev="ion-ios-arrow-back" data-next="ion-ios-arrow-forward">

                        <img src="{% static 'assets-chillclean/images/shop/1.jpg' %} " width="270" height="270" alt="" />
                        <img src="{% static 'assets-chillclean/images/shop/2.jpg' %} " width="270" height="270" alt="" />
                    </div>
                </div>
                <div class="widget_shop mb-0">
                    <div class="widget_shop-title">
                        <h3 class="title">Tags</h3>
                    </div>
                    <ul class="tags">
                        <li>
                            <a href="#">Corporate</a>
                        </li>
                        <li>
                            <a href="#">business</a>
                        </li>
                        <li>
                            <a href="#">agency</a>
                        </li>
                        <li>
                            <a href="#">medical</a>
                        </li>
                        <li>
                            <a href="#">studio</a>
                        </li>
                        <li>
                            <a href="#">university</a>
                        </li>
                        <li>
                            <a href="#">motors</a>
                        </li>
                        <li>
                            <a href="#">charity</a>
                        </li>
                        <li>
                            <a href="#">realestate</a>
                        </li>
                        <li>
                            <a href="#">app</a>
                        </li>
                        <li>
                            <a href="#">restaurant</a>
                        </li>
                        <li>
                            <a href="#">fitness</a>
                        </li>
                        <li>
                            <a href="#">band</a>
                        </li>
                        <li>
                            <a href="#">wedding</a>
                        </li>
                        <li>
                            <a href="#">sports</a>
                        </li>
                        <li>
                            <a href="#">fashion</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock content %}
