{% load static %}


		<!-- Blog -->
		<section class="latest__block padding ptb-xs-40">
			<div class="container">
				<div class="row text-center mb-40 mb-xs-30">
					<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
						<div class="section-title_home">
							<h2>Our Blog</h2>
							<span class="b-line"></span>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 's standard dummy text.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					{% for article in recent_articles %}
					<div class="col-lg-4">
						<div class="img-scale">
							<figure>
								{% if article.image.url %}
								<img src="{{article.image.url}}" alt="{{article.titre|truncatechars:30}}"> </a>
								{% else %}
								<img src="{% static 'assets-web/images/blog/home_blog_1.jpg' %} " alt="">
								{% endif %}
							</figure>
							<div class="latest__block-post gray-bg">
								<div class="meta-post">
									Publie il y a {{article.updated|timesince|truncatechars:15}}
								</div>
								<h3 class="latest__block-title"><a href="{% url 'detail_article' article.pk %}">{{article.titre|truncatechars:22}}</a></h3>

								<div class="flat-link flat-arrow sm  ">
									<a href="{% url 'detail_article' article.pk %}" class="more_btn__block">More <i class="fa fa-angle-right"></i> </a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</section>
		<!-- Blog_End -->